<html>
  <head>

    <meta charset="utf-8" />
    <title>{{the_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" href="../static/Content/sigsite.css" rel="stylesheet" />
  </head>
  <body class='login-body'>
    <div class="float-left" id='fixedHead'>
      <div class="site-title">
        <img style='float:left' src="../static/Images/Logo5.png" />
      </div>
    </div>
    <div class="login-card">{{message|safe}}
    <br />
    <form action='/processadminlogin' method='post'>
    <input type="text" name="user" placeholder="Username" /> 
    <input type="password" name="pass" placeholder="Password" /> 
    <input type="submit" name="login" class="login login-submit" value="Sign In" /></form>
    <br />
    <div class="login-help">
	</div></div>
  </body>
</html>
