body{
	margin: 1px;
	margin-right: 4px;
	overflow: hidden;
}

.float-left {
    float: left;
	/*background-color: #0f52c1;*/
background: rgb(30,144,254); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,144,254,1) 0%,  rgba(135,205,250,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,144,254,1)),  color-stop(100%,rgba(135,205,250,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,144,254,1) 0%,rgba(135,205,250,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,144,254,1) 0%,rgba(135,205,250,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,144,254,1) 0%,rgba(135,205,250,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,144,254,1) 0%,rgba(135,205,250,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E90FE', endColorstr='#87CDFA',GradientType=0 ); /* IE6-9 */
	width:100%;
	overflow:hidden;
	position:relative;
	clear:both;
	z-index:1000;
	margin:0;
	}
	
.site-title {
    color: #E1E1E1;
    font-family: "ff-dax-wide-web-pro-n4","ff-dax-wide-web-pro",sans-serif;
    font-size: 1.0em;
	margin:0;
	margin-top:5px;
	float:left;
}

#welcome
{
	float:left;
	padding-top:25px;
	padding-left:275px;
}

#test{

	display:table;
	background-color: #858585;
	min-width:1300px;
}

#gif
{
	float:right;
	padding-right:65px;
	max-width:300px;
	min-width:295px;
	min-height:350px;
	background-color: #858585;
	margin-top:10px;
	margin-right:5px;
}

#gif img
{

	max-width:100%;
	
}

	
.container {
	position: relative;
	overflow: hidden;
	overflow-y: auto;
	background: -moz-linear-gradient(left, rgba(240,248,250,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,248,250,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(240,248,250,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(240,248,250,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(240,248,250,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(240,248,250,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F8FA', endColorstr='#F0F8FA',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: 0 9px 9px 1px #e7e7e8;
	-moz-box-shadow: 0 9px 9px 1px #e7e7e8;
	box-shadow: 0 0 18px 0 #999;
	/*width:1124px;*/
	margin-left:auto;
	margin-right:auto;
	min-height: 500px;
	width:100%;
	border-style: solid;
    border-width: 2px;
	border-color: #1E90FF;
	border
	}
	
#primary {
    float: left;
    width: 422px;
	margin-right:8px;
	margin-left:16px;
	margin-bottom:8px;
	margin-top:8px;
	max-height:  600px;
}

#content {
    float: left;
    width: 322px;
	margin:8px;
	height:  600px;
}

#secondary {
    float: left;
    width: 322px;
	margin:8px;
	max-height:  600px;
}

.textblock{
	
background: rgba(128,183,237,1);
background: -moz-linear-gradient(left, rgba(128,183,237,1) 0%, rgba(52,122,219,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,183,237,1)), color-stop(100%, rgba(52,122,219,1)));
background: -webkit-linear-gradient(left, rgba(128,183,237,1) 0%, rgba(52,122,219,1) 100%);
background: -o-linear-gradient(left, rgba(128,183,237,1) 0%, rgba(52,122,219,1) 100%);
background: -ms-linear-gradient(left, rgba(128,183,237,1) 0%, rgba(52,122,219,1) 100%);
background: linear-gradient(to right, rgba(128,183,237,1) 0%, rgba(52,122,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b7ed', endColorstr='#347adb', GradientType=1 );

	border-radius: 5px;
	padding-right: 5px;
	color:#fff;
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif;
}

footer {
    clear: both;
    background-color: #0f52c;
    font-size: .8em;
	color:#fff;
    max-height: 15px;
	padding:20px;
	position: absolute; bottom: 0; left: 0; width:100%;
	
}



.center{
	margin:auto;
	text-align:center;
	margin-top:50px;
}

li{
	text-align: left;
}
ol{
	margin-bottom:10px;
	margin-top:10px;
}

/*------------- Menu Bar------------------*/

#menuContainer{
	
	background-color: #87CDFA;
	clear:both;
	padding-bottom:10px;
}

#menu-bar {
  width: 98%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 0px 6px;
  height: 30px;
  line-height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #1E90FF;
  border: solid 1px #1E90FF;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 3px 6px 3px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #00BFFF;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
  opacity: 0.25;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #00BFFF !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
 
}

#menu-bar ul ul  {

     left:100%;
	 top:0px;
   
}

#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 28px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0px 3px 6px 3px;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 20px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}

/*-------------icons for Menu------------------*/

#menu-bar .home {
   background: url("../Images/home.png") no-repeat center left;
   padding: 1px 0px 0px 1px;
}
#menu-bar .patient {
   background: url("../Images/patient.png") no-repeat center left;
   padding: 1px 0px 0px 1px;
}
#menu-bar .signalunits {
   background: url("../Images/signalunit.png") no-repeat center left;
   padding: 1px 0px 0px 1px;
}
#menu-bar .help {
   background: url("../Images/help.png") no-repeat center left;
   padding: 1px 0px 0px 1px;
}
#menu-bar .email {
   background: url("../Images/email.png") no-repeat center left;
   padding: 1px 0px 0px 1px;
}
#menu-bar .login {
   background: url("../Images/login.png") no-repeat center left;
   padding: 1px 0px 0px 1px;
}
#menu-bar .view {
   background: url("../Images/view.png") no-repeat center left;
   padding: 1px 0px 0px 3px;
}
#menu-bar .add {
   background: url("../Images/add.png") no-repeat center left;
   padding: 1px 0px 0px 1px;
   z-index: 5;
}
#menu-bar .delete {
   background: url("../Images/delete.png") no-repeat center left;
   padding: 1px 0px 0px 1px;
}
#menu-bar .edit {
   background: url("../Images/edit.png") no-repeat center left;
   padding: 1px 0px 0px 1px;
}