html {
    background-color: #e7e7e8;
    margin: 0;
    padding: 0;
}

body {
	font-family: "ff-dax-wide-web-pro-n4","ff-dax-wide-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	color: #8a9298;
	background: #e7e7e8;
	overflow:auto;
	margin-top:0;
	
	
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

footer, hgroup,
nav, section {
    display: block;
}

header {
  
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 24%, rgba(44,44,44,1) 35%, rgba(76,76,76,1) 42%, rgba(89,89,89,1) 47%, rgba(102,102,102,1) 54%, rgba(71,71,71,1) 64%, rgba(17,17,17,1) 68%, rgba(28,28,28,1) 78%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(24%,rgba(43,43,43,1)), color-stop(35%,rgba(44,44,44,1)), color-stop(42%,rgba(76,76,76,1)), color-stop(47%,rgba(89,89,89,1)), color-stop(54%,rgba(102,102,102,1)), color-stop(64%,rgba(71,71,71,1)), color-stop(68%,rgba(17,17,17,1)), color-stop(78%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(43,43,43,1) 24%,rgba(44,44,44,1) 35%,rgba(76,76,76,1) 42%,rgba(89,89,89,1) 47%,rgba(102,102,102,1) 54%,rgba(71,71,71,1) 64%,rgba(17,17,17,1) 68%,rgba(28,28,28,1) 78%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(43,43,43,1) 24%,rgba(44,44,44,1) 35%,rgba(76,76,76,1) 42%,rgba(89,89,89,1) 47%,rgba(102,102,102,1) 54%,rgba(71,71,71,1) 64%,rgba(17,17,17,1) 68%,rgba(28,28,28,1) 78%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(43,43,43,1) 24%,rgba(44,44,44,1) 35%,rgba(76,76,76,1) 42%,rgba(89,89,89,1) 47%,rgba(102,102,102,1) 54%,rgba(71,71,71,1) 64%,rgba(17,17,17,1) 68%,rgba(28,28,28,1) 78%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(43,43,43,1) 24%,rgba(44,44,44,1) 35%,rgba(76,76,76,1) 42%,rgba(89,89,89,1) 47%,rgba(102,102,102,1) 54%,rgba(71,71,71,1) 64%,rgba(17,17,17,1) 68%,rgba(28,28,28,1) 78%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	width:100%;
	overflow:hidden;
	position:relative;
	clear:both;
	z-index:1000;
	margin:0;
	
}
.footer-left {
    float: left;
	background-color: #ffffff;
	margin-top:10px;
	min-height:360px;
	text-align:bottom;
	
	
}

.float-right {
    float: right;
   
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
}

h6 {
	font-family: "ff-dax-wide-web-pro-n4","ff-dax-wide-web-pro",sans-serif;
    font-size: 1.00em;
    color:#2B5682;
    margin-bottom: 0;
    padding-bottom: 0;
}
.spanOne
{
	font-family: "ff-dax-wide-web-pro-n4","ff-dax-wide-web-pro",sans-serif;
    font-size: 0.6em;
    color:#2B5682;
	padding-left:10px;
}



    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/

.content
{
	margin:auto;
    min-width: 960px;
	padding-left: 10px;
    padding-top: 5px;
	padding-right: 10px;
}

.container {
	position: relative;
	overflow: hidden;
	background: #fff;
	-webkit-box-shadow: 0 9px 9px 1px #e7e7e8;
	-moz-box-shadow: 0 9px 9px 1px #e7e7e8;
	box-shadow: 0 0 18px 0 #999;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	min-height: 800px;
}
.content-wrapper {
    margin:auto;
    max-width: 960px;
}

#body {
    
    clear: both;
    padding-bottom: 35px;
    background-color: #fff;
	position:relative;
}

    .main-content {
       
        padding-left: 10px;
        padding-top: 5px;
    }

    .featured + .main-content {
       
    }

header .content-wrapper {
    padding-top: 20px;
    width:auto;
    min-width: 1000px;
	background-color: #05ABB1;

    
}

footer {
    clear: both;
    background-color: #fff;
    font-size: .8em;
    max-height: 20px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #fff;
    font-family: "ff-dax-wide-web-pro-n4","ff-dax-wide-web-pro",sans-serif;
    font-size: 2.0em;
    padding-left:20px;
	margin:0;
	margin-top:5px;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #fff;
    outline: none;
    text-decoration: none;
}



/* login
----------------------------------------------------------*/



/* menu
----------------------------------------------------------*/


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #05ABB1;
        /*background-image: -ms-linear-gradient(left, #47baba 0%, #4ECCCC 100%);
        background-image: -o-linear-gradient(left, #47baba 0%, #4ECCCC 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #47baba ), color-stop(1, #4ECCCC));
        background-image: -webkit-linear-gradient(left, #47baba  0%, #4ECCCC 100%);
        background-image: linear-gradient(left, #47baba  0%, #4ECCCC 100%);*/
        color: #ffffff;
		font-family: "ff-dax-wide-web-pro-n4","ff-dax-wide-web-pro",sans-serif;
        padding: 0px 40px 5px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */




/* Pie chart list */
	.scrollWrap{
	width:980px;
	height:400px;
	overflow-y:auto;
	border:1px solid  #666666;
	scrollbar-face-color: #A9E7F0;
	scrollbar-shadow-color: #000000;
    scrollbar-highlight-color: #e80c4d;
    scrollbar-3dlight-color: #b46868;
    scrollbar-darkshadow-color: #000000;
    scrollbar-track-color: #E7E7E7;
    scrollbar-arrow-color: #000000;
	
	}
	
	
	.chartContainer
    {
	-webkit-box-shadow: 0 9px 9px 1px #e7e7e8;
	-moz-box-shadow: 0 9px 9px 1px #e7e7e8;
	box-shadow: 0 0 18px 0 #999;
	color:#ffffff;
	border-bottom: 1px solid #c7c7c7;
	margin-top: 20px;
	width:100%;
	
	
	
	}
	
	#collapse_container
	{
		background-image:url('..\Images\heroAccent.png');
	}

	    .divTableOuter
    {
        display:  table;
        width:100%;
		min-height:10px;
        background-color:#eee
        border:1px solid  #666666;
        border-spacing:5px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
	   	-webkit-box-shadow: 0 9px 9px 1px #e7e7e8;
		-moz-box-shadow: 0 9px 9px 1px #e7e7e8;
		box-shadow: 0 0 18px 0 #999;
    }
	
    .divTable
    {
        display:  table;
        width:100%;
        background-color:#eee
        border:1px solid  #666666;
        border-spacing:1px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
	   	-webkit-box-shadow: 0 9px 9px 1px #e7e7e8;
		-moz-box-shadow: 0 9px 9px 1px #e7e7e8;
		box-shadow: 0 0 18px 0 #999;
    }

    .divRow
    {
       display:table-row;
       width:auto;
	   color:#5b5b5b;
		background: #cbebff; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiZWJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YwZjlmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMWRiZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left, #cbebff 0%, #f0f9ff 50%, #a1dbff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cbebff), color-stop(50%,#f0f9ff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #cbebff 0%,#f0f9ff 50%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #cbebff 0%,#f0f9ff 50%,#a1dbff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, #7ebdbd 0%,#b0c2c2 50%,#7ebdbd 100%); /* IE10+ */
		background: linear-gradient(to right, #05abb1 0%,#f0f9ff 50%,#05abb1100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbebff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-8 */
	   
	   

    }
	#backDiv
	{
		display:table-cell;
		padding-top:20px;
		background:rgba(255,0,0,0.0);
		
	}
	#backButton
	{
		vertical-align:bottom;
	}
	

    .divCell
    {
        float:left;
        display:table-column;
        min-width:25%;
		padding-top:5px;
		font-size:11pt;

    }
	

	.divCellSpace
    {
        float:left;
        display:table-column;
        min-width:30%;
		padding-top:5px;
		color:#2B5682;

    }
	.divCellChart
   {
        float:right;
        display:table-column;
        min-width:20%;
		max-height:55px;

    }
	
	.divCellBottom
    {
		float:right;
        display:table-column;
		margin-bottom: 10px;
		margin-right: 5px;
		margin-left: 5px;
		overflow:hidden;

    }
	



    .divCellTable
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:330px;
        max-height:300px;
        max-width:330px;
        background-color:#47baba;
		background-image: -ms-linear-gradient(left, #47baba 0%, #4ECCCC 100%);
        background-image: -o-linear-gradient(left, #47baba 0%, #4ECCCC 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #47baba ), color-stop(1, #4ECCCC));
        background-image: -webkit-linear-gradient(left, #47baba  0%, #4ECCCC 100%);
        background-image: linear-gradient(left, #47baba  0%, #4ECCCC 100%);
        border-top:1px solid  #666666;
		
}




	.divCellHeader
	{
		display:table-column;
		float:left;
		font-weight:bold;
		width:310px;
		background-color:#ccc;
		border-bottom:1px solid  #666666;
        border-top:1px solid  #666666;
		border:1px solid  #666666;
		text-align: center;
		background-image: -ms-linear-gradient(left, #47baba 0%, #4ECCCC 100%);
        background-image: -o-linear-gradient(left, #47baba 0%, #4ECCCC 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #47baba ), color-stop(1, #4ECCCC));
        background-image: -webkit-linear-gradient(left, #47baba  0%, #4ECCCC 100%);
        background-image: linear-gradient(left, #47baba  0%, #4ECCCC 100%);
		
		
		
	}
	.divCellHeaderx
	{
	display:table-column;
		float:left;
		font-weight:bold;
		width:310px;
		background-color:#ccc;
		border-bottom:1px solid  #666666;
        border-top:1px solid  #666666;
		border:1px solid  #666666;
		text-align: center;
		background-image: -ms-linear-gradient(left, #4ECCCC 0%, #47baba 100%);
        background-image: -o-linear-gradient(left, #47baba 0%, #4ECCCC 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #47baba ), color-stop(1, #4ECCCC));
        background-image: -webkit-linear-gradient(left, #47baba  0%, #4ECCCC 100%);
        background-image: linear-gradient(left, #47baba  0%, #4ECCCC 100%);
	}
	
	.backInfo 
	{
		color:white;
		position:relative;top:0px;
		
	}
	.returnCell
    {
        float:right;
        display:table-column;
        min-width:25%;
		padding-top:5px;
		font-size:11pt;
		
    }
	
	
  /* Chart Data tables
----------------------------------------------------------*/

.divTablex {
		
		width: 310px;
		
	}
	.dataTable table{
		
		width: 310px;
		border-collapse: collapse;
	}
	
	.tableBody {
		max-height:250px;
		overflow: auto;
		
	}
	 
	.tableBody table{
		border:1px solid;
		width: 400px;
		border-collapse: collapse;
		
	}
	
	
	.colGreen{
		border-top:1px solid;
		border-bottom:1px solid;
		width:240px;
	
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(left,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
	background: linear-gradient(to right,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 */
	}
	
		.colRed{
		border-top:1px solid;
		border-bottom:1px solid;
		width:240px;
	background: #c45f52; /* Old browsers */
	background: -moz-linear-gradient(left,  #c45f52 0%, #c62e19 50%, #c16251 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c45f52), color-stop(50%,#c62e19), color-stop(100%,#c16251)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #c45f52 0%,#c62e19 50%,#c16251 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #c45f52 0%,#c62e19 50%,#c16251 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #c45f52 0%,#c62e19 50%,#c16251 100%); /* IE10+ */
	background: linear-gradient(to right,  #c45f52 0%,#c62e19 50%,#c16251 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c45f52', endColorstr='#c16251',GradientType=1 ); /* IE6-9 */
	}
	
			.colAmber{
		border-top:1px solid;
		border-bottom:1px solid;
		width:240px;
	background: #ffb375; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffb375 0%, #ff7b0f 50%, #ffb375 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffb375), color-stop(50%,#ff7b0f), color-stop(100%,#ffb375)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffb375 0%,#ff7b0f 50%,#ffb375 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffb375 0%,#ff7b0f 50%,#ffb375 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffb375 0%,#ff7b0f 50%,#ffb375 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffb375 0%,#ff7b0f 50%,#ffb375 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb375', endColorstr='#ffb375',GradientType=1 ); /* IE6-9 */
	}
	.colTwo{
		border-top:1px solid;
		border-bottom:1px solid;
		width: 100px;
		background: null;
	}
	
		.colThree{
		border-top:1px solid;
		border-bottom:1px solid;
		z-index: 1;
		width:240px;
	}
	
	.colOneh{
		
		width: 100px;
	}
	.colTwoh{
		
		width: 100px;
		border: 0px;
		
	}
	
	.optionsTable table 
{ 
	border-collapse: collapse; 
	text-align: left; 
	width: auto;
	color: #00557F;
	width:auto;
	
	
} 

.optionsTable 
{
	font: normal 12px/150% Arial,
	Helvetica, sans-serif;
	background: #fff; 
	overflow: hidden; 
	border: 1px solid #006699;
	margin-top:10px;
	margin-bottom:10px;
	width:auto;
	float:right;
	/*-webkit-box-shadow: 8px 8px 15px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 8px 8px 15px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 8px 8px 15px 0px rgba(50, 50, 50, 0.5);*/
}
  
.optionsTable table td, .optionsTable table th 
{
	padding: 1px 5px;
	min-width:100px;

		
}


.optionsTable table thead th 
 {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05,
  #05ABB1), color-stop(1, #00557F) );
  background:-moz-linear-gradient( center top, #05ABB1 5%, #00557F 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#05ABB1&#39;, endColorstr=&#39;#00557F&#39;);
  background-color:#05ABB1; 
  color:#FFFFFF; font-size: 15px; 
  font-weight: bold; 
  border-left: 1px
  solid #FFFFFF; 
}

.optionsTable table thead th:first-child 
{
	border: none; 
}
  
  .optionsTable table tbody td 
  {
	  
	  border-left:
	  1px solid #05ABB1;
	  font-size: 12px;
	  font-weight: normal;
	
  }
  
  .optionsTable table tbody .alt td { background: #E1EEf4; }
  .optionsTable table tbody .altHover td { background: #F2F1B1;}
  .optionsTable table tbody td:first-child { border-left: none; }
  .optionsTable table tbody tr:last-child td { border-bottom: none;}






















/* tables
----------------------------------------------------------*/


/********************
*   Mobile Styles   *
********************/

